body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.water {
  background-image: url('https://wallpapercave.com/wp/wp2459897.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.water:hover {
  width: 100%;
}

.selectors {
  width: 25%;
  height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
}