
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectors {
  width: 25%;
  height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
}

@keyframes growTo100 {
  0% {
    width: 25%;
  }
  100% {
    width: 200%;
  }
}

@keyframes shrinkTo25 {
  0% {
    width: 100%;
  }
  100% {
    width: 25%;
  }
}